<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit main page</title>
    <link rel="stylesheet" href="/static/css/upload.css">
</head>
<body>
<div class="cancel_icon">
    <a class="cancel" href="/"><img class="home_icon" src="../../static/clear.svg"></a>
</div>
<h1>Edit your details!</h1>
<form method="post" enctype="application/x-www-form-urlencoded" action="/edit">
    <label for="passcode">Your secret passcode:</label>
    <input type="text" name="passcode">
    <input type="submit" value="Submit">
</form>


</body>
</html>
