<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Upload entry</title>
    <link rel="stylesheet" href="/static/css/upload.css">
</head>
<body>
<h1>Enter your details!</h1>
<form method="post" enctype="multipart/form-data" action="/upload">
    <label for="name">Name:</label>
    <input type="text" name="name" required>

    <label for="phone">Phone: (optional)</label>
    <input type="text" name="phone">

    <label for="email">Email: (optional)</label>
    <input type="text" name="email">

    <label for="birthday">Birthday:</label>
    <div>
        <select name="birthdayDay">
            <% for(var i = 1; i <= 31; i++) { %>
                <option value="<%= i %>"><%= i %></option>
            <% } %>
        </select>
        <select name="birthdayMonth">
            <option value="January">January</option>
            <option value="February">February</option>
            <option value="March">March</option>
            <option value="April">April</option>
            <option value="May">May</option>
            <option value="June">June</option>
            <option value="July">July</option>
            <option value="August">August</option>
            <option value="September">September</option>
            <option value="October">October</option>
            <option value="November">November</option>
            <option value="December">December</option>
        </select>
    </div>



    <label for="file">Image:</label>
    <input type="file" name="file">


    <input type="submit" value="Submit">
</form>


<script>
    document.querySelector("form").onsubmit = () => {
        alert("Thank you!")
        return true;
    }
</script>
</body>
</html>
