@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

body{
    padding: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    margin-top: 20px;
    font-size: 15px;
    margin-bottom: 5px;
}

input[type='text']{
    font-size: 22px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

input[type='submit']{
    padding: 12px;
    background: green;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    width: 160px;
    color: white;
    margin: 20px auto;
    font-size: 25px;
}


@media (max-width: 480px) {
    body{
        padding: 50px;
    }
    input[type='submit']{
    }
}
